.container {
    display: flex;
    margin-top: 1%;
}

.right {
    margin-left: 1%;
}

.swiss-flag {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #d00404;
    border: 1px solid black;
}

.cross-position {
    position: absolute;
    background-color: white;
}

.horizontal-position {
    width: 130px;
    height: 40px;
    top: 80px;
    left: 35px;
    border-radius: 5px;
}

.vertical-position {
    width: 40px;
    height: 130px;
    top: 35px;
    left: 80px;
    border-radius: 5px;
}

.cross-transform {
    background-color: white;
}

.horizontal-transform {
    width: 130px;
    height: 40px;
    transform: translate(25%, 200%);
    border-radius: 5px;
    top: 100px;
}

.vertical-transform {
    width: 40px;
    height: 130px;
    transform: translate(200%, -2.5%);
    border-radius: 5px;
}
